{% extends 'demo-template.html' %}

{% block demo %}
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  w = 1000
  h = 1000

  # Make a plate that will take up the entire viewport minus 10 pixel margins
  hw = w/2 - 10
  hh = h/2 - 10
  plate = new seen.Shape('custom', [new seen.Surface([
    seen.P(-hw, -hh, 0)
    seen.P( hw, -hh, 0)
    seen.P( hw,  hh, 0)
    seen.P(-hw,  hh, 0)
  ])])

  plate.fill new seen.Material seen.C.hsl(0, 0.5, 0.4)

  scene = seen.emptyScene()
  scene.projection = seen.Viewports.alignCenter(
    seen.Projections.perspective(), w, h)

  scene.group.add(plate)

  new seen.SvgCanvas(document.getElementById('seen-canvas'))
    .layer('background', new seen.SvgFillRect(w, h))
    .layer('scene', new seen.SvgRenderer(scene))

  scene.render()
</script>
{% endblock %}
