{% extends 'demo-template.html' %}

{% block demo %}
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  w = 500
  h = 500

  demo = seen.demo.tetrahedra()

  scene = new seen.Scene
    model  : demo.model
    camera : new seen.Camera
      viewport : seen.Viewports.center(w, h)

  new seen.SvgCanvas(document.getElementById('seen-canvas'))
    .layer('background', new seen.SvgFillRect(w,h))
    .layer('scene',      new seen.SvgRenderer(scene))
    .layer('foreground', new seen.SvgRenderDebug(scene))

  scene.on 'beforeRender.animate', () ->
    for i in [0...3]
      demo.model.children[i].rotx(0.01 * (i+1))
      demo.model.children[i].roty(0.02).rotx(0.015)
    demo.outside.roty(0.02).rotx(0.015)
    demo.inside.roty(-0.01).rotx(-0.02)
    demo.faroutside.roty(0.02).rotz(0.02)
    demo.around.roty(0.01)

  scene.startRenderLoop(20)
</script>
{% endblock %}
