{% extends 'demo-template.html' %}

{% block canvases %}
  <svg width="400" height="400" id="seen-canvas-1"></svg>
  <svg width="400" height="400" id="seen-canvas-2"></svg>
  <svg width="400" height="400" id="seen-canvas-3"></svg>
{% endblock %}

{% block demo %}
<script src="/lib/jquery.js"></script>
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  w = 400
  h = 400

  # Make a plate that will take up the entire viewport minus 10 pixel margins
  hw = w/2 - 10
  hh = h/2 - 10

  model  = seen.simpleModel()

  scene1 = new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport : seen.Viewports2.center(w,h)

  scene2 = new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport : seen.Viewports2.center(w,h)
      camera   : seen.Matrices.identity.rotx(Math.PI/2)

  scene3 = new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport : seen.Viewports2.center(w,h)
      camera   : seen.Matrices.identity.roty(-Math.PI/2)

  scenes = [scene1, scene2, scene3]

  $.getJSON 'assets/teapot.json', {}, (geom) ->

    faces = geom.faces.map (face) ->
      surface = new seen.Surface face.map (v) -> seen.P(geom.vertices[v - 1]...)
      surface.cullBackfaces = false
      return surface

    teapot = new seen.Shape('custom', faces)
    teapot.fill new seen.Material seen.C.hsl(0.6, 0.7, 0.4)
    teapot.scale(40).translate(0,-60)

    model.add(teapot)

    s.render() for s in scenes

  new seen.SvgCanvas(document.getElementById('seen-canvas-1'))
    .layer('background', new seen.SvgFillRect(w, h))
    .layer('scene', new seen.SvgRenderer(scene1))

  new seen.SvgCanvas(document.getElementById('seen-canvas-2'))
    .layer('background', new seen.SvgFillRect(w, h))
    .layer('scene', new seen.SvgRenderer(scene2))

  new seen.SvgCanvas(document.getElementById('seen-canvas-3'))
    .layer('background', new seen.SvgFillRect(w, h))
    .layer('scene', new seen.SvgRenderer(scene3))

    s.render() for s in scenes
</script>
{% endblock %}
