{% extends 'demo-template.html' %}


{% block demo %}
<script type="text/coffeescript">
  w = 500
  h = 500

  model = new seen.Model()
  model.rotx(Math.PI/6).roty(-Math.PI/4)
  model.lights.push seen.Lights.directional
    normal    : seen.P(0, 0, 1)
    color     : seen.Colors.hsl(0.4, 1, 0.5)
    intensity : 0.005

  model.lights.push seen.Lights.ambient
    color     : seen.Colors.white()
    intensity : 0.002

  geomGroup = model.append()

  lightGroup = geomGroup.append()
  lightGroup.lights.push seen.Lights.directional
    normal : seen.P(1, 0, 0)
    color  : seen.Colors.hsl(0, 1, 0.5)

  lightGroup.lights.push seen.Lights.directional
    normal : seen.P(-1, 0, 0)
    color  : seen.Colors.hsl(0.6, 1, 0.5)

  for i in [0..5]
    y = 140 + i*50
    geomGroup.add(seen.Shapes.cube().scale(20).translate(0,y,0))
    geomGroup.add(seen.Shapes.cube().scale(20).translate(0,-y,0))

  lightGroup.add(seen.Shapes.cube().scale(100))

  scene = new seen.Scene
    model  : model
    shader : seen.Shaders.diffuse
    camera : new seen.Camera
      viewport   : seen.Viewports.center(w,h)
      projection : seen.Projections.perspective()

  seen.SvgContext('seen-canvas', scene, w, h)
    .animate()
    .onBefore(->
      geomGroup.roty(-0.01)
      lightGroup.roty(0.02)
    )
    .startRenderLoop(10)

</script>
{% endblock %}


