{% extends 'demo-template-2.html' %}

{% block demo %}
<script type="text/coffeescript" src="/lib/simplex-noise.coffee"></script>
<script type="text/coffeescript" id="code">
  width  = {{width}}
  height = {{height}}

  # Create a simple sphere
  shape = seen.Shapes.sphere(2).scale(150)
  seen.Colors.randomSurfaces2(shape)

  # Create scene and render context
  scene = new seen.Scene
    fractionalPoints : true  # Smoothes motion
    cullBackfaces    : false # Necessary since we have transparency
    model            : seen.Models.default().add(shape)
    camera           : new seen.Camera
      viewport : seen.Viewports.center(width, height)

  context = seen.Contexts.createWithScene('seen-canvas', scene, width, height).render()

  # Create a copy of the surface points so we can manipulate them later
  for surf in shape.surfaces
    surf.originals = surf.points.map (p) -> p.copy()
    surf.fill.color.a = 150 # Add a little transparency
  
  # Apply animated 3D simplex noise to sphere vertices
  t = 0
  noiser = new Simplex3D(Math.random())
  context.animate()
    .onBefore(->
      for surf in shape.surfaces
        for p,i in surf.points
          n = noiser.noise(p.x, p.y, p.z + t)
          surf.points[i] = surf.originals[i].copy().multiply(1 + n / 3)

        # Since we're modifying the points directly, we need to mark the surface dirty
        # to make sure the cache doesn't ignore the change
        surf.dirty = true

      shape.rotx(0.001).rotz(0.003)
      t += 0.005
    )
    .start()

  # Enable drag-to-rotate
  dragger = new seen.Drag(document.getElementById('seen-canvas'), {inertia : true})
  dragger.on('drag.rotate', (e) ->
    xform = seen.Quaternion.xyToTransform(e.offsetRelative...)
    shape.transform(xform)
    context.render()
  )
</script>
{% endblock %}