{% extends 'demo-template.html' %}

{% block canvases %}
  <svg width="400" height="400" id="seen-canvas-1"></svg>
  <svg width="400" height="400" id="seen-canvas-2"></svg>
  <svg width="400" height="400" id="seen-canvas-3"></svg>
{% endblock %}

{% block demo %}
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  w = 400
  h = 400

  cube = seen.Shapes.cube()
  cube.scale(190)
  seen.Colors.randomSurfaces(cube)

  model = seen.Models.default()
  model.add(cube)

  scene1 = new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport   : seen.Viewports.center(w,h)
      camera     : seen.Matrices.identity.scale(0.5).rotx(Math.PI/6).roty(-Math.PI/4)
      projection : seen.Projections.perspective()

  scene2 = new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport   : seen.Viewports.center(w,h)
      projection : seen.Projections.ortho()

  scene3 = new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport   : seen.Viewports.center(w,h)
      camera     : seen.Matrices.identity.roty(-Math.PI/2)
      projection : seen.Projections.ortho()

  seen.SvgScene('seen-canvas-1', scene1, w, h)
  seen.SvgScene('seen-canvas-2', scene2, w, h)
  seen.SvgScene('seen-canvas-3', scene3, w, h)
  s.render() for s in [scene1, scene2, scene3]

</script>
{% endblock %}


