{% extends 'demo-template.html' %}

{% block canvases %}
  <canvas width="600" height="600" id="seen-canvas"></canvas>
{% endblock %}

{% block demo %}
<script src="/lib/jquery.js"></script>
<script type="text/coffeescript">
  dim = 600

  context = new seen.CanvasRenderContext(document.getElementById('seen-canvas'), dim, dim)
  context.layer('background', new seen.FillLayer(dim, dim))

  animator = context.animate().startRenderLoop(20)

  for objFile, i in ['assets/bunny-low.obj', 'assets/teapot-low.obj'] then do ->
    scene = new seen.Scene
      model  : seen.Models.default()
      camera : new seen.Camera
        viewport : seen.Viewports.center(dim, dim)

    context.layer("scene-#{i}", new seen.SceneLayer(scene))
    animator.onBefore ->
      scene.model.roty(0.01).rotx(0.003)

    $.get objFile, {}, (contents) ->
      shape = seen.Shapes.obj(contents).scale(30).translate(0,-80)
      scene.model.add(shape)

</script>
{% endblock %}
