{% extends 'demo-template.html' %}

{% block canvases %}
  <style>
    td.caption {
      font-family : 'Roboto';
      text-align  : center;
      color       : #888;
    }
  </style>

  <table>
    <tr>
      <td><canvas width="600" height="600" id="seen-canvas-0"></canvas></td>
      <td><canvas width="600" height="600" id="seen-canvas-1"></canvas></td>
    </tr>
    <tr>
      <td class="caption">Fractional Points OFF (default)</td>
      <td class="caption">Fractional Points ON</td>
    </tr>
  </table>
{% endblock %}

{% block demo %}
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  dim = 600

  scenes = []

  for i in [0...2]
    model = seen.Models.default().add seen.Shapes.sphere(2).scale(200)

    scenes.push new seen.Scene
      fractionalPoints : i isnt 0
      model            : model
      camera           : new seen.Camera
        viewport : seen.Viewports.center(dim, dim)

  contexts = scenes.map (scene,i) -> seen.CanvasContext("seen-canvas-#{i}", scene, dim, dim)
  new seen.Animator()
    .onBefore(->
      scene.model.roty(0.01).rotx(0.003) for scene in scenes
    )
    .onRender( ->
      context.render() for context in contexts
    )
    .startRenderLoop(50)


</script>
{% endblock %}
