{% extends 'demo-template.html' %}

{% block canvases %}
  <style>
  </style>

  <table>
    <tr>
      <td rowspan="2"><svg width="600" height="600" id="seen-canvas-0"></svg></td>
      <td><svg width="300" height="300" id="seen-canvas-1" class="mini"></svg></td>
      <td><svg width="300" height="300" id="seen-canvas-2" class="mini"></svg></td>
    </tr>
    <tr>
      <td><svg width="300" height="300" id="seen-canvas-3" class="mini"></svg></td>
      <td><svg width="300" height="300" id="seen-canvas-4" class="mini"></svg></td>
    </tr>
  </table>
{% endblock %}

{% block demo %}
<script src="/lib/jquery.js"></script>
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  w = 300
  h = 300

  model  = seen.Models.default()

  scenes = [0...5].map (i) -> new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport : seen.Viewports.center(w,h)

  mainModel = new seen.Model
  mainModel.add model
  mainModel.scale(2.5)
  scenes[0].model           = mainModel
  scenes[0].camera.viewport = seen.Viewports.center(600, 600)
  scenes[0].camera.camera   = seen.Matrices.identity.copy().rotx(Math.PI/4).roty(-Math.PI/4).rotz(-Math.PI/4)

  scenes[1].camera.camera = seen.Matrices.identity.copy()
  scenes[2].camera.camera = seen.Matrices.identity.copy().rotx(Math.PI/2)
  scenes[3].camera.camera = seen.Matrices.identity.copy().rotx(-Math.PI/2)
  scenes[4].camera.camera = seen.Matrices.identity.copy().roty(-Math.PI/2)

  $.getJSON 'assets/teapot.json', {}, (geom) ->

    faces = geom.faces.map (face) ->
      surface = new seen.Surface face.map (v) -> seen.P(geom.vertices[v - 1]...)
      surface.cullBackfaces = false
      return surface

    teapot = new seen.Shape('custom', faces)
    teapot.fill new seen.Material seen.C.gray
    teapot.translate(0,-40).scale(30)

    model.add(teapot)

    s.render() for s in scenes

  for scene, i in scenes
    d = if i is 0 then 600 else 300
    seen.SvgScene("seen-canvas-#{i}", scene, d, d)
    scene.render()

</script>
{% endblock %}
