{% extends 'demo-template.html' %}

{% block canvases %}
<svg width="500" height="500" id="seen-canvas"></svg>
{% endblock %}

{% block demo %}
<script type="text/coffeescript" src="/demo.coffee"></script>
<script type="text/coffeescript">
  w = 500
  h = 500

  demo = seen.demo.tetrahedra()

  scene = new seen.Scene
    #fractionalPoints : true
    model  : demo.model
    camera : new seen.Camera
      viewport : seen.Viewports.center(w, h)


  context = new seen.SvgRenderContext(document.getElementById('seen-canvas'))
  context
    .layer('background', new seen.FillLayer(w, h))
    .layer('scene', new seen.SceneLayer(scene))

  anim = new seen.Animator()

  context.layer('debug', new seen.DebugLayer(anim))

  anim.onBefore(->
    for i in [0...3]
      demo.model.children[i].rotx(0.01 * (i+1))
      demo.model.children[i].roty(0.02).rotx(0.015)
    demo.outside.roty(0.02).rotx(0.015)
    demo.inside.roty(-0.01).rotx(-0.02)
    demo.faroutside.roty(0.02).rotz(0.02)
    demo.around.roty(0.01)
  )
  .onRender(context.render)
  .start(20)

</script>
{% endblock %}
