{% extends 'demo-template-2.html' %}

{% block demo %}
<script type="text/coffeescript" src="/lib/simplex-noise.coffee"></script>
<script type="text/coffeescript">
  width  = {{width}}
  height = {{height}}

  EQUILATERAL_TRIANGLE_ALTITUDE = Math.sqrt(3.0) / 2.0
  TRIANGLE_SCALE = 70
  patch_width  = width * 1.5
  patch_height = height * 1.5
  shape = seen.Shapes.patch(patch_width / TRIANGLE_SCALE / EQUILATERAL_TRIANGLE_ALTITUDE, patch_height / TRIANGLE_SCALE)
    .scale(TRIANGLE_SCALE)
    .translate(-patch_width/2, -patch_height/2 + 80)
    .rotx(-0.3)
  seen.Colors.randomSurfaces2(shape)

  scene = new seen.Scene
    model  : seen.Models.default().add(shape)
    camera : new seen.Camera
      viewport : seen.Viewports.center(width, height)

  context = seen.SvgContext('seen-canvas', scene, width, height).render()

  t = 0
  noiser = new Simplex3D()
  context.animate()
    .onBefore(->
      for surf in shape.surfaces
        for p in surf.points
          p.z = 4*noiser.noise(p.x/8, p.y/8, t)
        surf.dirty = true
      t += 0.01
    )
    .start()

</script>
{% endblock %}