{% extends 'demo-template.html' %}

{% block canvases %}
  <table callpadding="0" cellspacing="0" border="0">
    <tr>
      <td rowspan="2"><canvas width="600" height="300" id="seen-canvas-0"></canvas></td>
      <td><canvas width="150" height="150" id="seen-canvas-1"></canvas></td>
      <td><canvas width="150" height="150" id="seen-canvas-2"></canvas></td>
    </tr>
    <tr>
      <td><canvas width="150" height="150" id="seen-canvas-3"></canvas></td>
      <td><canvas width="150" height="150" id="seen-canvas-4"></canvas></td>
    </tr>
  </table>
{% endblock %}

{% block demo %}
<script src="{{cdns.jquery.script}}"></script>
<script type="text/coffeescript" id="code">
  dims = [
    [600, 300]
    [150, 150]
    [150, 150]
    [150, 150]
    [150, 150]
  ]

  # One model shared between scenes
  model  = seen.Models.default()

  scenes = [0...5].map (i) -> new seen.Scene
    model  : model
    camera : new seen.Camera
      viewport : seen.Viewports.center(dims[i]...)

  # Alter camera matrix for main viewport
  scenes[0].camera.camera = seen.M().scale(2).rotx(Math.PI/4).roty(-Math.PI/4).rotz(-Math.PI/4)

  # Rotate mini viewports
  scenes[1].camera.camera = seen.M()
  scenes[2].camera.camera = seen.M().rotx(Math.PI/2)
  scenes[3].camera.camera = seen.M().rotx(-Math.PI/2)
  scenes[4].camera.camera = seen.M().roty(-Math.PI/2)

  # Load the object file using jquery
  shape = null
  $.get 'assets/bunny-low.obj', {}, (contents) ->
    # Create shape from object file
    shape = seen.Shapes.obj(contents, false)
    shape.scale(8).translate(0,-30)

    # Apply random colors to surfaces
    seen.Colors.randomSurfaces2(shape)

    # Update scene model
    model.add(shape)
    renderAll()

  # Create rendering contexts
  contexts = scenes.map (scene,i) -> seen.Context("seen-canvas-#{i}", scene)

  renderAll = ->
    context.render() for context in contexts

  # Enable drag-to-rotate on main viewport
  dragger = new seen.Drag('seen-canvas-0', {inertia : true})
  dragger.on('drag.rotate', (e) ->
    xform = seen.Quaternion.xyToTransform(e.offsetRelative...)
    shape?.transform(xform)
    renderAll()
  )
</script>
{% endblock %}

