{% extends 'demo-template.html' %}

{% block canvases %}
  <table callpadding="0" cellspacing="0" border="0">
    <tr>
      <td><canvas width="300" height="400" id="seen-canvas-0"></canvas></td>
      <td><canvas width="300" height="400" id="seen-canvas-1"></canvas></td>
      <td><canvas width="300" height="400" id="seen-canvas-2"></canvas></td>
    </tr>
  </table>
{% endblock %}

{% block caption %}
<p>Left: Default painters algorithm, Center: Z-buffer, Right: Composite</p>
{% endblock %}

{% block demo %}
<script src="lib/StackBlur.js"></script>
<script type="text/coffeescript" src="lib/z-buffer-layer.coffee"></script>
<script type="text/coffeescript" id="code">
  width  = 300
  height = 400

  # Generate shapes for the scene
  model = seen.Models.default()

  tetraGroup = model
    .append()
    .add(
      seen.Shapes.tetrahedron()
        .fill(seen.Colors.hex("#551A8B"))
        .scale(90).bake()
    )

  sphereGroup = model
    .append()
    .add(
      seen.Shapes.sphere()
        .fill(seen.Colors.white())
        .scale(80).bake()
    )

  cubeGroup = model
    .append()
    .add(
      seen.Shapes.cube()
        .fill(seen.Colors.hex("#FF0000"))
        .scale(60).bake()
    )

  # Create scene and add shape to model
  scene = new seen.Scene
    cullBackfaces    : true
    fractionalPoints : true
    model            : model
    viewport         : seen.Viewports.center(width, height)

  # Create render contexts from canvases
  contexts = [
    seen.Context('seen-canvas-0')
      .layer(new seen.FillLayer(width, height, '#DDD'))
      .sceneLayer(scene)
      .render()
    seen.Context('seen-canvas-1')
      .layer(new seen.FillLayer(width, height, '#000'))
      .layer(new seen.ZBufferedCanvasLayer(scene, true))
      .render()
    seen.Context('seen-canvas-2')
      .layer(new seen.FillLayer(width, height, '#444'))
      .layer(new seen.ZBufferedCanvasLayer(scene))
      .render()
  ]

  # Drag to rotate
  rotator = (group) ->
    return (e) ->
      xform = seen.Quaternion.xyToTransform(e.offsetRelative...)
      group.transform(xform)
      c.render() for c in contexts
  new seen.Drag('seen-canvas-0').on('drag.rotate', rotator(sphereGroup))
  new seen.Drag('seen-canvas-1').on('drag.rotate', rotator(cubeGroup))
  new seen.Drag('seen-canvas-2').on('drag.rotate', rotator(tetraGroup))

</script>
{% endblock %}
