{% extends 'demo-template.html' %}

{% block caption %}
<p>Drag to rotate. Mousewheel to zoom.</p>
{% endblock %}

{% block demo %}
<script src="{{cdns.lodash.script}}"></script>
<script src="{{cdns.jquery.script}}"></script>
<script type="text/javascript" src="lib/bvh-parser.js"></script>
<script type="text/coffeescript" id="code">
  width  = {{width}}
  height = {{height}}

  scene = new seen.Scene
    cullBackfaces    : false
    fractionalPoints : true
    model            : seen.Models.default()
    viewport         : seen.Viewports.center(width, height)

  seenModel = scene.model.append()

  createChannelAction = (channel) ->
    return switch channel
      when 'Xposition' then (m, v) -> m.translate(v, 0, 0)
      when 'Yposition' then (m, v) -> m.translate(0, v, 0)
      when 'Zposition' then (m, v) -> m.translate(0, 0, v)
      when 'Xrotation' then (m, v) -> m.rotx(v * Math.PI / 180.0)
      when 'Yrotation' then (m, v) -> m.roty(v * Math.PI / 180.0)
      when 'Zrotation' then (m, v) -> m.rotz(v * Math.PI / 180.0)

  attachJoint = (base, joint, channels) ->
    # Joint geometry
    # base.add(shape = seen.Shapes.unitcube().scale(5))
    base.offset = joint.offset ? {}
    base.translate(base.offset.x, base.offset.y, base.offset.z)

    ###
    # Colorize for debugging
    ###

    # Create channel actions
    if joint.channels?
      channels.push {
        shape   : base
        actions : joint.channels.map(createChannelAction)
      }

    # Recurse
    if joint.joints?
      children = base.append()
      for child in joint.joints


        p = seen.P(child.offset?.x, child.offset?.y, child.offset?.z)
        base.add(shape = seen.Shapes.pipe(seen.P(), p))
        switch true
          when /head/ig.test(joint.id) then shape.fill('#FF0000')
          when /hand/ig.test(joint.id) then shape.fill('#00FF00')
          when /foot/ig.test(joint.id) then shape.fill('#0000FF')
          when /shin/ig.test(joint.id) then shape.fill('#00FFFF')
          when /hip/ig.test(joint.id) then shape.fill('#FF00FF')


        if child.type is 'JOINT' then attachJoint(children, child, channels)
    return

  applyFrameToChannels = (channels, frame) ->
    fi = 0
    for channel in channels
      # Apply channel actions in reverse order
      m  = seen.M()
      ai = channel.actions.length
      while ai > 0
        ai -= 1
        channel.actions[ai](m, frame[fi + ai])
      fi += channel.actions.length

      channel.shape
        .reset()
        .transform(m)
        .translate(
          channel.shape.offset.x
          channel.shape.offset.y
          channel.shape.offset.z
        )
    return

  #$.get 'assets/05_11.bvh', {}, (contents) ->
  $.get 'assets/01_06.bvh', {}, (contents) ->
    bvh = bvhParser.parse(contents)
    seenModel.add(shape = new seen.Model())
    channels = []
    attachJoint(shape, bvh.root, channels)
    delay = Math.round(bvh.motion.frameTime * 1000)

    i = 0
    animateChannels = ->
      frame = bvh.motion.frames[i]
      applyFrameToChannels(channels, frame)
      i = (i + 1) % bvh.motion.frames.length
      setTimeout(animateChannels, delay)
    animateChannels()

  # Add mouse-rotate
  dragger = new seen.Drag('seen-canvas', {inertia : true})
  dragger.on('drag.rotate', (e) ->
    xform = seen.Quaternion.xyToTransform(e.offsetRelative...)
    seenModel.transform(xform)
  )

  # Add mousewheel-zoom
  zoomer = new seen.Zoom('seen-canvas', {smooth : false})
  zoomer.on('zoom.scale', (e) ->
    xform = seen.M().scale(e.zoom)
    seenModel.transform(xform)
  )

  # Create a context with a black fill layer and the scene layer
  context = seen.Context('seen-canvas')
  context.layer(new seen.FillLayer(width, height, '#000'))
  context.sceneLayer(scene)
  context.animate().start()

</script>
{% endblock %}
